<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head',{title:title}) %>
    <link
      href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  </head>

  <body>
    <%- include('../partials/navbar') %> <%- include('../partials/sidebar') %>
    <div class="sm:p-4 p-1 sm:ml-64 mt-6">
      <section class="p-3 sm:p-5">
        <div class="bg-white shadow-md sm:rounded-lg mx-auto p-4 my-5">
          <div class="flex justify-between items-center">
            <h1 class="text-xl font-bold">
              <a href="/market">
                <i
                  class="fa fa-arrow-left text-white bg-black p-2 rounded-full"
                  aria-hidden="true"
                ></i>
              </a>
              <span class="mx-3">Market Show</span>
            </h1>
          </div>
        </div>

        <div class="bg-white shadow-md sm:rounded-lg mx-auto p-4 my-5">
          <div class="mb-5">
            <label
              for="symbol"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Symbol :</label
            >
            <input
              type="text"
              id="symbol"
              name="symbol"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="TYX"
              value="<%= formData?.symbol %>"
              disabled
            />
          </div>

          <div class="mb-5">
            <label
              for="country"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Country :</label
            >
            <input
              type="text"
              id="country"
              name="country"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="TYX"
              value="<%= formData?.country %>"
              disabled
            />
          </div>

          <div class="mb-5">
            <label
              for="industry"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Industry :</label
            >
            <input
              type="text"
              id="industry"
              name="industry"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="TYX"
              value="<%= formData?.industry %>"
              disabled
            />
          </div>

          <div class="mb-5">
            <label
              for="image_url"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Image Url :</label
            >
            <input
              type="text"
              id="image_url"
              name="image_url"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              value="<%= formData?.image_url %>"
              disabled
            />
          </div>

          <div class="mb-5">
            <label
              for="image"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Image :</label
            >
            <input
              type="text"
              id="image"
              name="image"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="10"
              value="<%= formData?.image %>"
              disabled
            />
          </div>

          <div class="mb-5">
            <label
              for="type"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Type :</label
            >
            <input
              type="text"
              id="type"
              name="type"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              value="<%= formData?.type %>"
              disabled
            />
          </div>

          <div class="mb-5">
            <label
              for="subtype"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Sub Type :</label
            >
            <input
              type="text"
              id="subtype"
              name="subtype"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              value="<%= formData?.subtype %>"
              disabled
            />
          </div>

        </div>
      </section>
    </div>
  </body>
</html>
